<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.blogspot.stewannahavefun.epubreader"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.blogspot.stewannahavefun.epubreader.BookListActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.blogspot.stewannahavefun.epubreader.ReadingActivity"
			android:label="@string/title_activity_reading"
			android:parentActivityName="com.blogspot.stewannahavefun.epubreader.BookListActivity" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.blogspot.stewannahavefun.epubreader.BookListActivity" />
		</activity>
		<activity
			android:name="com.blogspot.stewannahavefun.epubreader.AboutActivity"
			android:label="@string/title_activity_about" >
		</activity>

		<service
			android:name="com.blogspot.stewannahavefun.epubreader.ScanDirectoryService"
			android:enabled="true"
			android:exported="false" >
		</service>
		<service
			android:name="com.blogspot.stewannahavefun.epubreader.ProcessEpubFileService"
			android:enabled="true"
			android:exported="false" >
		</service>

		<provider
			android:name="com.blogspot.stewannahavefun.epubreader.EpubReaderProvider"
			android:authorities="com.blogspot.stewannahavefun.epubreader.provider"
			android:exported="false" >
		</provider>
	</application>

</manifest>